.CheatSheets
{
  height: 100vh;
  width: 100vw;
  background-color: #dedede;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='46' height='46' fill-opacity='0.6' fill='%23e7e7e7'/%3E%3C/svg%3E");
}

.space
{
  height: 20vh;
}

.bar
{
  margin: auto;
  height: 60px;
  width: 61vw;
  background-color: #292929;
  border: 2px solid black;
  display: block;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
}

.CheatSheets h1
{
  color: #fff;
  font-size: 15px;
  text-align: center;
  margin-left: 35px;
  margin-top: 5px;
}

.fakeButtons
{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  float: right;
}

.exit
{
  background-color: rgb(162, 22, 255);
  margin-right: 5px;
}

.fakeButtonOne
{
  background-color: rgb(190, 190, 190);
  margin-right: 5px;
}

.fakeButtonTwo
{
  background-color: rgb(190, 190, 190);
  margin-right: 5px;
}

.CheatSheets h4
{
  color: #fff;
  font-size: 13px;
  margin-left: 10px;
  word-spacing: 10px;
}

.window
{
  margin: auto;
  width: 60vw;
  height: 60vh;
  background-color: #292929;
  overflow: auto;
  border: 2px solid black;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
}

.firstLine
{
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  color: #fff;
}

.user
{
  color: #C3FF3C;
  margin-right: 2px;
  margin-left: 10px;
  font-weight: 500;
}

.folder
{
  color: #6C9AC6;
  margin-left: 2px;
  font-weight: 500;
}

.bodyText
{
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #fff;
  line-height: 1.2;
}

p{
  margin: 0;
}

.txt
{
  text-decoration: underline;
  color: white;
}

.txt:hover
{
  color: white;
}

.finalSpace
{
  height: 20px;
}

@media only screen and (max-width: 800px)
{
  .CheatSheets h1
  {
    font-size: 13px;
  }
  .fakeButtons{
    visibility: hidden;
  }
  .bar
  {
    width: 81vw;
  }
  .window
  {
    width: 80vw;
  }
}