.bgrImg
{
  max-height: 80vh;
  max-width: 60vh;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 3;
}

.star1
{
  animation: blinker 2s linear infinite;
}

.star2
{
  animation: blinker 10s linear infinite;
}

.star3
{
  animation: blinker 4s linear infinite;
}

.star4
{
  animation: blinker 1s linear infinite;
}

.star5
{
  animation: blinker 8s linear infinite;
}

.star6
{
  animation: blinker 5s linear infinite;
}

@keyframes blinker {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}